@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;400;500;600;700&display=swap');

:root {
  --red: #9a325b;
  --light-red: #dd4782;
  --light-bg: #d32e70;
  --white: white;
  --active: yellow;
}

body {
  margin: 0;
  font-family:
    'Lato',
    sans-serif;
}
